<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Add a Cat and Their Description</h1>

    <form action='/addCat' method='post'>
        <input type='text' name='name' placeholder="Name">
        <input type='text' name='description' placeholder='Description'>
        <input type='submit' value="Add This Cat">
    </form>

    <ul>
        {% for cat in cats %}
            <li>{{ cat }}</li>
        {% endfor %}
    </ul>
    
</body>
</html>